ul {
	list-style: none;
}

body {
	background-image: url('/img/we.JPG');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

#spa{
	background-color: white;
	width: 30%;
}

 .responsive-image{
        height:auto;
        width:100%;
    }